


.number1 {
    border:solid 1px;
      width:100px;
      height:100px;
      margin:auto;
      margin-top:300px;
      box-sizing: border-box;
      

      
     
     
     
  }
  .bola,.bola2, .bola3, .bola4 {

    position:relative;

    border:1px solid;
    border-radius:50%;
    height:20px;
    width:20px;
    background-color:black;
  
  }



  

  .bola {

    margin:5px;

   
  


}

.bola2{

    left:70px;
    bottom:27px;

   

    
  
   
    
    
  
    
}

.bola3{

    left:70px;
    top:16px;

  
    

  



}

.bola4 {

    margin:5px;
    bottom:11px;




}
#bot{
    position:absolute;
     height:40px;
     width:100px;
     left:47.4%;
     margin-top:20px;
     text-align: center;
   }