.number1 {
  border:solid 1px;
    width:100px;
    height:100px;
    margin:auto;
    margin-top:300px;
    box-sizing: border-box;}
   
    
    
    
    
    
    
    .bola, .bola2, .bola3 {

      position:relative;
    
      border:1px solid;
      border-radius:50%;
      height:20px;
      width:20px;
      background-color:black;
    
     
    
     
    
    
    
    }

    .bola{ 
      margin:auto;
      left:30px;
      top:5px;

     
    
    }
    .bola2{
      top:48px;
      left:5px;

    }
    .bola3{

      margin:auto;
      bottom:5px;
    }
    
    
    
    #bot{
     position:absolute;
      height:40px;
      width:100px;
      left:47.4%;
      margin-top:20px;
      text-align: center;
    }